[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/njoy/catch-adapter.git
[submodule "dependencies/dimwits"]
	path = dependencies/dimwits
	url = https://github.com/njoy/DimensionalAnalysis.git
[submodule "dependencies/range-v3-adapter"]
	path = dependencies/range-v3-adapter
	url = https://github.com/njoy/range-v3-adapter.git
[submodule "dependencies/Log"]
	path = dependencies/Log
	url = https://github.com/njoy/Log.git
